/*
 * Celia default CSS
 * http://www.celia.fi/
 *
 * Author: Jukka Eerikäinen <jukka.eerikainen@iki.fi>
 */

/*
 * Namespaces
 */
@namespace xml "http://www.w3.org/XML/1998/namespace";

/*
 * Hidden elements
 */
head {
	display: none;
}

/*
 * Hyphenation
 */
book {
	hyphens: auto;
}

/*
 * Page layout
 */
@page {
	size: 27 30;
}

@page:left {
	@top-left {
		content: counter(page);
	}
}

@page:right {
	@top-right {
		content: counter(page);
	}
}

/*
 * @page:first doesn't work yet
 */
@page:first {
	@top-right {
		content: '';
	}
}

/*
 * Volumes: Maximum length, title page 
 */
@volume {
	max-length: 80;
	@begin {
		content: flow(titlepage);
	}
}

/*
 * Major structural divisions of the book
 *
 * Each section starts on a new page.
 */
level,
level1, level2, level3,
level4, level5, level6,
frontmatter, bodymatter, rearmatter {
	display: block
	page-break-before: always;
	page-break-after: always;
}

/*
 * Headings
 *
 * In headings that span multiple lines, every line except for the first
 * one is indented by 2 cells.
 */
hd, h1, h2, h3, h4, h5, h6 {
	display: block;
	margin-bottom: 1;
	margin-left: 2;
	text-indent: -2;
	page-break-after: avoid;
}

/*
 * Print page numbers
 *
 * TODO ensure these
 */
pagenum {
	display: block;
	margin-top: 1;
	margin-bottom: 1;
	text-align: center;
}

pagenum::before {
	content: 'Sivu ';
}

/*
 * Title and author
 */
doctitle, docauthor {
	display: block;
	margin-bottom: 1;
}

/*
 * Paragraphs
 */
p {
	display: block;
}

/*
 * Lists
 */
list {
	display: block;
}

/*
 * List items
 */
list > li {
	display: block;
}

/*
 * Producer notes
 *
 * TODO: What should we do with these?
 */
prodnote {
	display: block;
}

/*
 * Tables
 *
 * TODO: What should we do with these?
 */
table {
	display: block;
	margin-top: 1;
	margin-bottom: 1;
}

/*
 * Image groups
 *
 * TODO
 */
imggroup {

}

/*
 * Captions
 *
 * TODO
 */
caption {
	display: block;
}

/*
 * Code
 *
 * No hyphenation
 * To preserve whitespace, add attribute xml:space="preserve" to the XML element.
 */
code {
	display: block;
	hyphens: none;
}

/*
 * INLINE ELEMENTS
 */

/*
 * Strong emphasis as bold
 */
strong {
	text-transform: louis-bold;
}

/*
 * Emphasis as italic
 */
em {
	text-transform: louis-ital;
}

/*
 * Preceding empty line
 */
.precedingemptyline::before {
	/* Don't convert newlines to spaces */
	white-space: pre-line;
	/* TODO what's this do? see: mod-dedicon */
	content: '\A';
}

/*
 * Indented elements
 */
.indented {
	text-indent: 2;
}

/*
 * xml:space='preserve'
 *
 * Pre-formatted text
 */
[xml|space=preserve] {
	white-space: pre-wrap;
}
